*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(applebg.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.container .navbar{
    width: 100%;
    height: 100px;
    background: rgba(72, 60, 79, 0.4);
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 17px;
    
}

.navbar .logo a{
text-decoration: none;
font-size: 60px;
font-family: sans-serif;
color: rgb(102, 0, 152);
}

.navbar ul{
    float: right;
    margin-right: 20px;
}   

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 100px;
}

.navbar ul li a{
    color: beige;
    text-decoration: none;
    font-size: 22px;
    padding: 6px 13px;
    font-family: sans-serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: rgb(102, 0, 152);
    border-radius: 3px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
}

.container h1{
    color: black;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    width: 900px;
}
.container h2{
    color: black;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    width: 900px;
}
.center .buttons{
    margin: 35px 290px;
}

.buttons button{
    height: 50px; 
    width: 150px; 
    font-size: 18px;
    color: azure;
    background: rgba(102, 0, 152, 1);
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: solid 1px azure;
} 
.buttons button:hover{
    background: rgb(162, 0, 152);
    transition: .4s;
}